@use "theme.utils" as theme;

.input {
  background-color: var(--background-level1);
  color: var(--on-background);
  padding: theme.spacing(1);
  border-radius: var(--radius-sm);
  border: var(--border) solid var(--static-40);
  outline: transparent solid var(--border);

  &:hover {
    border-color: var(--primary-hover-border);
  }

  &:focus {
    outline-color: var(--primary-active-border);
  }
}

.error {
  border-color: var(--danger);

  &:hover {
    border-color: var(--danger-hover-border);
  }

  &:focus {
    outline-color: var(--danger-active-border);
  }
}
