@use "theme.utils" as theme;

@mixin border($color) {
  border: 2px solid $color
}

@mixin base() {
  background-color: var(--primary-100);
  padding: theme.spacing(1);
  border-radius: var(--radius-sm);
  @include border(var(--static-10));
}

.input {
  @include base();
  
  &:hover {
    @include border(var(--static-40));
  }

  &:focus {
    outline: var(--primary) solid 2px;
  }
}

.error {
  @include border(var(--danger));

  &:hover {
    @include border(var(--danger-500));
  }

  &:focus {
    outline: var(--danger) solid 2px;
  }
}