@use "theme.utils" as theme;

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: theme.spacing(2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: theme.spacing(2);
  & > a {
    width: 100%;
  }
}
