@use "theme.utils" as theme;

.item {
  display: flex;
  flex-direction: row;
  gap: theme.spacing(2);

  & > img {
    border-radius: var(--radius);
    align-self: center;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(0.5);
  flex-grow: 1;
  position: relative;

  & p,
  small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.title {
  font-weight: 700;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
}
