@use "theme.utils" as theme;

.select {
  background-color: var(--neutral);
  color: var(--on-neutral);
  padding: theme.spacing(1);
  border-radius: var(--radius-sm);
  border: var(--border) solid var(--static-40);
  outline: transparent solid var(--border);

  &:hover {
    border-color: var(--primary-hover-border);
  }

  &:focus {
    outline-color: var(--primary-active-border);
  }
}
