@use "theme";
@use "typography";
@use "theme.utils" as utils;

body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

body, input {
  color: var(--text);
}

a {
  background-color: var(--primary-200);
  color: var(--primary-700);
  padding: utils.spacing(0.2) utils.spacing(0.2);
  border-radius: var(--radius-xs);

  &:hover {
    text-decoration: underline;
    background-color: var(--primary-100);
  }
}