@use "theme";
@use "typography";
@use "theme.utils" as utils;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  stroke: var(--on-background);
  color: var(--on-background);
  padding: 0;
  margin: 0;
}
