.icon {
  fill: none;
  display: inline-block;
  stroke: inherit;
  color: inherit;
}

$sm: 1.2rem;
$md: 1.4rem;
$lg: 1.6rem;

.icon-sm {
  width: $sm;
  height: $sm;
}

.icon-md {
  width: $md;
  height: $md;
}

.icon-lg {
  width: $lg;
  height: $lg;
}

.bold {
  stroke-width: 1.5;
}
