$colors: "primary", "secondary", "accent", "danger", "success", "warning",
  "neutral";

@each $color in $colors {
  .bg-#{$color} {
    background-color: var(--#{$color});
  }
  .color-#{$color} {
    color: var(--#{$color});
  }
  .stroke-#{$color} {
    stroke: var(--#{$color});
  }
}
