@use "sass:map";
@use "./colors.utils.scss";

$pallete: (
  // Primary
  "primary-100": hsl(222, 45%, 90%),
  "primary-200": hsl(222, 45%, 80%),
  "primary-300": hsl(222, 46%, 70%),
  "primary-400": hsl(222, 46%, 60%),
  "primary-500": hsl(222, 46%, 50%),
  "primary-600": hsl(222, 46%, 40%),
  "primary-700": hsl(222, 46%, 30%),
  "primary-800": hsl(222, 45%, 20%),
  "primary-900": hsl(222, 45%, 10%),
  // Others
  "background-body": hsl(220, 23%, 96%),
  "shadow-color": hsl(225, 25%, 30%),
  "white": #ffffff,
  "black": #000000,
  // Neutral
  "neutral-100": hsl(240, 2%, 90%),
  "neutral-200": hsl(240, 4%, 80%),
  "neutral-300": hsl(240, 4%, 70%),
  "neutral-400": hsl(240, 2%, 60%),
  "neutral-500": hsl(240, 2%, 50%),
  "neutral-600": hsl(240, 2%, 40%),
  "neutral-700": hsl(240, 2%, 30%),
  "neutral-800": hsl(240, 2%, 20%),
  "neutral-900": hsl(240, 2%, 12%),
  // Secondary
  "secondary-100": hsl(222, 65%, 90%),
  "secondary-200": hsl(222, 65%, 80%),
  "secondary-300": hsl(222, 65%, 70%),
  "secondary-400": hsl(222, 65%, 60%),
  "secondary-500": hsl(222, 65%, 50%),
  "secondary-600": hsl(222, 65%, 40%),
  "secondary-700": hsl(222, 65%, 30%),
  "secondary-800": hsl(222, 65%, 20%),
  "secondary-900": hsl(222, 65%, 10%),
  // Accent
  "accent-100": hsl(224, 80%, 90%),
  "accent-200": hsl(223, 82%, 80%),
  "accent-300": hsl(223, 82%, 70%),
  "accent-400": hsl(223, 82%, 60%),
  "accent-500": hsl(223, 82%, 50%),
  "accent-600": hsl(223, 82%, 40%),
  "accent-700": hsl(223, 82%, 30%),
  "accent-800": hsl(223, 82%, 20%),
  "accent-900": hsl(224, 80%, 10%),
  // Danger
  "danger-100": hsl(0, 79%, 94%),
  "danger-200": hsl(0, 79%, 83%),
  "danger-300": hsl(0, 80%, 72%),
  "danger-400": hsl(0, 80%, 61%),
  "danger-500": hsl(0, 80%, 50%),
  "danger-600": hsl(0, 80%, 39%),
  "danger-700": hsl(0, 80%, 28%),
  "danger-800": hsl(0, 81%, 16%),
  "danger-900": hsl(0, 79%, 10%),
  // Success
  "success-100": hsl(121, 79%, 89%),
  "success-200": hsl(128, 80%, 79%),
  "success-300": hsl(134, 65%, 64%),
  "success-400": hsl(140, 51%, 50%),
  "success-500": hsl(146, 81%, 33%),
  "success-600": hsl(152, 84%, 27%),
  "success-700": hsl(158, 86%, 23%),
  "success-800": hsl(164, 89%, 18%),
  "success-900": hsl(170, 92%, 10%),
  // Warning
  "warning-100": hsl(54, 96%, 90%),
  "warning-200": hsl(53, 98%, 80%),
  "warning-300": hsl(51, 97%, 70%),
  "warning-400": hsl(50, 96%, 63%),
  "warning-500": hsl(49, 95%, 50%),
  "warning-600": hsl(48, 95%, 43%),
  "warning-700": hsl(47, 97%, 23%),
  "warning-800": hsl(46, 97%, 15%),
  "warning-900": hsl(45, 98%, 10%)
);

$themes: (
  "light": (
    "background": map.get($pallete, "background-body"),
    "on-background": map.get($pallete, "neutral-900"),
    "background-level1": map.get($pallete, "neutral-100"),
    "background-level2": map.get($pallete, "neutral-200"),
    "background-level3": map.get($pallete, "neutral-300"),
    "shadow-color": map.get($pallete, "shadow-color"),
    // Primary variant
    "primary": map.get($pallete, "primary-600"),
    "on-primary": map.get($pallete, "white"),
    "primary-hover-bg": map.get($pallete, "primary-700"),
    "primary-hover-border": map.get($pallete, "primary-700"),
    "primary-active-bg": map.get($pallete, "primary-800"),
    "primary-active-border": map.get($pallete, "primary-800"),
    "primary-on-active-bg": map.get($pallete, "neutral-200"),
    "primary-disabled-bg": map.get($pallete, "neutral-800"),
    "primary-on-disabled-bg": map.get($pallete, "neutral-400"),
    // Primary light variant
    "on-primary-light": map.get($pallete, "primary-700"),
    "primary-light-hover-bg": map.get($pallete, "primary-200"),
    "primary-light-hover-border": map.get($pallete, "primary-200"),
    "primary-light-active-bg": map.get($pallete, "primary-300"),
    "primary-light-active-border": map.get($pallete, "primary-300"),
    "primary-light-on-active-bg": map.get($pallete, "primary-700"),
    "primary-light-disabled-bg": map.get($pallete, "neutral-800"),
    "primary-light-on-disabled-bg": map.get($pallete, "neutral-400"),
    // Secondary variant
    "secondary": map.get($pallete, "secondary-500"),
    "on-secondary": map.get($pallete, "white"),
    "secondary-hover-bg": map.get($pallete, "secondary-600"),
    "secondary-hover-border": map.get($pallete, "secondary-600"),
    "secondary-active-bg": map.get($pallete, "secondary-700"),
    "secondary-active-border": map.get($pallete, "secondary-700"),
    "secondary-on-active-bg": map.get($pallete, "neutral-200"),
    "secondary-disabled-bg": map.get($pallete, "neutral-400"),
    "secondary-on-disabled-bg": map.get($pallete, "neutral-100"),
    // Secondary light variant
    "on-secondary-light": map.get($pallete, "secondary-800"),
    "secondary-light-hover-bg": map.get($pallete, "secondary-200"),
    "secondary-light-hover-border": map.get($pallete, "secondary-200"),
    "secondary-light-active-bg": map.get($pallete, "secondary-300"),
    "secondary-light-active-border": map.get($pallete, "secondary-300"),
    "secondary-light-on-active-bg": map.get($pallete, "secondary-700"),
    "secondary-light-disabled-bg": map.get($pallete, "neutral-800"),
    "secondary-light-on-disabled-bg": map.get($pallete, "neutral-400"),
    // Accent variant
    "accent": map.get($pallete, "accent-500"),
    "on-accent": map.get($pallete, "white"),
    "accent-hover-bg": map.get($pallete, "accent-600"),
    "accent-hover-border": map.get($pallete, "accent-600"),
    "accent-active-bg": map.get($pallete, "accent-700"),
    "accent-active-border": map.get($pallete, "accent-700"),
    "accent-on-active-bg": map.get($pallete, "neutral-200"),
    "accent-disabled-bg": map.get($pallete, "neutral-400"),
    "accent-on-disabled-bg": map.get($pallete, "neutral-100"),
    // Accent light variant
    "on-accent-light": map.get($pallete, "accent-800"),
    "accent-light-hover-bg": map.get($pallete, "accent-200"),
    "accent-light-hover-border": map.get($pallete, "accent-200"),
    "accent-light-active-bg": map.get($pallete, "accent-300"),
    "accent-light-active-border": map.get($pallete, "accent-300"),
    "accent-light-on-active-bg": map.get($pallete, "accent-700"),
    "accent-light-disabled-bg": map.get($pallete, "neutral-800"),
    "accent-light-on-disabled-bg": map.get($pallete, "neutral-400"),
    // Danger variant
    "danger": map.get($pallete, "danger-500"),
    "on-danger": map.get($pallete, "white"),
    "danger-hover-bg": map.get($pallete, "danger-600"),
    "danger-hover-border": map.get($pallete, "danger-600"),
    "danger-active-bg": map.get($pallete, "danger-700"),
    "danger-active-border": map.get($pallete, "danger-700"),
    "danger-on-active-bg": map.get($pallete, "neutral-200"),
    "danger-disabled-bg": map.get($pallete, "neutral-400"),
    "danger-on-disabled-bg": map.get($pallete, "neutral-100"),
    // Danger light variant
    "on-danger-light": map.get($pallete, "danger-800"),
    "danger-light-hover-bg": map.get($pallete, "danger-200"),
    "danger-light-hover-border": map.get($pallete, "danger-200"),
    "danger-light-active-bg": map.get($pallete, "danger-300"),
    "danger-light-active-border": map.get($pallete, "danger-300"),
    "danger-light-on-active-bg": map.get($pallete, "danger-700"),
    "danger-light-disabled-bg": map.get($pallete, "neutral-800"),
    "danger-light-on-disabled-bg": map.get($pallete, "neutral-400"),
    // Success variant
    "success": map.get($pallete, "success-500"),
    "on-success": map.get($pallete, "black"),
    "success-hover-bg": map.get($pallete, "success-600"),
    "success-hover-border": map.get($pallete, "success-600"),
    "success-active-bg": map.get($pallete, "success-700"),
    "success-active-border": map.get($pallete, "success-700"),
    "success-on-active-bg": map.get($pallete, "neutral-200"),
    "success-disabled-bg": map.get($pallete, "neutral-400"),
    "success-on-disabled-bg": map.get($pallete, "neutral-100"),
    // Success light variant
    "on-success-light": map.get($pallete, "success-800"),
    "success-light-hover-bg": map.get($pallete, "success-200"),
    "success-light-hover-border": map.get($pallete, "success-200"),
    "success-light-active-bg": map.get($pallete, "success-300"),
    "success-light-active-border": map.get($pallete, "success-300"),
    "success-light-on-active-bg": map.get($pallete, "success-700"),
    "success-light-disabled-bg": map.get($pallete, "neutral-800"),
    "success-light-on-disabled-bg": map.get($pallete, "neutral-400"),
    // Warning variant
    "warning": map.get($pallete, "warning-500"),
    "on-warning": map.get($pallete, "black"),
    "warning-hover-bg": map.get($pallete, "warning-600"),
    "warning-hover-border": map.get($pallete, "warning-600"),
    "warning-active-bg": map.get($pallete, "warning-700"),
    "warning-active-border": map.get($pallete, "warning-700"),
    "warning-on-active-bg": map.get($pallete, "neutral-200"),
    "warning-disabled-bg": map.get($pallete, "neutral-400"),
    "warning-on-disabled-bg": map.get($pallete, "neutral-100"),
    // Warning light variant
    "on-warning-light": map.get($pallete, "warning-800"),
    "warning-light-hover-bg": map.get($pallete, "warning-200"),
    "warning-light-hover-border": map.get($pallete, "warning-200"),
    "warning-light-active-bg": map.get($pallete, "warning-300"),
    "warning-light-active-border": map.get($pallete, "warning-300"),
    "warning-light-on-active-bg": map.get($pallete, "warning-700"),
    "warning-light-disabled-bg": map.get($pallete, "neutral-800"),
    "warning-light-on-disabled-bg": map.get($pallete, "neutral-400"),
    // Static
    "static-5": hsla(0, 0%, 0%, 0.05),
    "static-10": hsla(0, 0%, 0%, 0.1),
    "static-40": hsla(0, 0%, 0%, 0.4),
  ),
  "dark": (
    "text": hsl(210, 11%, 93%),
    "background": hsl(225, 25%, 3%),
    "on-background": hsl(210, 11%, 93%),
    "primary": hsl(222, 46%, 75%),
    "on-primary": hsl(225, 25%, 3%),
    "secondary": hsl(222, 65%, 31%),
    "on-secondary": hsl(210, 11%, 93%),
    "accent": hsl(223, 82%, 51%),
    "text-50": hsl(200, 12%, 5%),
    "text-100": hsl(216, 10%, 10%),
    "text-200": hsl(210, 12%, 20%),
    "text-300": hsl(212, 11%, 30%),
    "text-400": hsl(210, 11%, 40%),
    "text-500": hsl(211, 11%, 50%),
    "text-600": hsl(210, 11%, 60%),
    "text-700": hsl(208, 11%, 70%),
    "text-800": hsl(210, 12%, 80%),
    "text-900": hsl(204, 10%, 90%),
    "text-950": hsl(220, 12%, 95%),
    "background-50": hsl(230, 23%, 5%),
    "background-100": hsl(226, 25%, 10%),
    "background-200": hsl(224, 25%, 20%),
    "background-300": hsl(225, 25%, 30%),
    "background-400": hsl(226, 25%, 40%),
    "background-500": hsl(225, 25%, 50%),
    "background-600": hsl(226, 25%, 60%),
    "background-700": hsl(225, 25%, 70%),
    "background-800": hsl(224, 25%, 80%),
    "background-900": hsl(226, 25%, 90%),
    "background-950": hsl(220, 23%, 95%),
    "primary-50": hsl(225, 46%, 5%),
    "primary-100": hsl(222, 45%, 10%),
    "primary-200": hsl(222, 45%, 20%),
    "primary-300": hsl(222, 46%, 30%),
    "primary-400": hsl(222, 46%, 40%),
    "primary-500": hsl(222, 46%, 50%),
    "primary-600": hsl(222, 46%, 60%),
    "primary-700": hsl(222, 46%, 70%),
    "primary-800": hsl(222, 45%, 80%),
    "primary-900": hsl(222, 45%, 90%),
    "primary-950": hsl(220, 46%, 95%),
    "secondary-50": hsl(222, 68%, 5%),
    "secondary-100": hsl(222, 65%, 10%),
    "secondary-200": hsl(222, 65%, 20%),
    "secondary-300": hsl(222, 65%, 30%),
    "secondary-400": hsl(222, 65%, 40%),
    "secondary-500": hsl(222, 65%, 50%),
    "secondary-600": hsl(222, 65%, 60%),
    "secondary-700": hsl(222, 65%, 70%),
    "secondary-800": hsl(222, 65%, 80%),
    "secondary-900": hsl(222, 65%, 90%),
    "secondary-950": hsl(222, 68%, 95%),
    "accent-50": hsl(223, 84%, 5%),
    "accent-100": hsl(224, 80%, 10%),
    "accent-200": hsl(223, 82%, 20%),
    "accent-300": hsl(223, 82%, 30%),
    "accent-400": hsl(223, 82%, 40%),
    "accent-500": hsl(223, 82%, 50%),
    "accent-600": hsl(223, 82%, 60%),
    "accent-700": hsl(223, 82%, 70%),
    "accent-800": hsl(223, 82%, 80%),
    "accent-900": hsl(224, 80%, 90%),
    "accent-950": hsl(223, 84%, 95%),
    "static-5": hsla(0, 0%, 100%, 0.05),
    "static-10": hsla(0, 0%, 100%, 0.1),
    "static-40": hsla(0, 0%, 100%, 0.4),
    "danger": hsl(0, 80%, 40%),
    "danger-500": hsl(0, 80%, 50%),
    "success": hsl(120, 75%, 50%),
    "success-500": hsl(120, 75%, 50%),
    "disabled": hsla(0, 0%, 0%, 0.05),
  ),
);

:root[data-theme="light"] {
  $light: map.get($themes, "light");
  @each $color, $value in $light {
    --#{$color}: #{$value};
  }
}

:root[data-theme="dark"] {
  $dark: map.get($themes, "dark");
  @each $color, $value in $dark {
    --#{$color}: #{$value};
  }
}

:root {
  --spacing: 0.6rem;
  --radius: 0.2rem;
  --radius-xs: var(--radius);
  --radius-sm: calc(var(--radius) * 2);
  --radius-md: calc(var(--radius) * 2.5);
  --radius-lg: calc(var(--radius) * 3);
  --border: 0.2rem;
  --border-sm: var(--border);
}
