@use "theme.utils" as theme;

.nav-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: theme.spacing(0.6);
  padding: theme.spacing(0.6) theme.spacing(1);
  text-align: center;
}

.selected {
  font-weight: 500;
}
