@use "theme.utils" as theme;

$width: 80dvw;
$anim-duration: 0.25s;
$anim-timing-function: ease-in-out;

.sidebar {
  height: 100dvh;
  width: $width;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--background);
  z-index: 1000;
  padding: theme.spacing(2);

  &.in {
    animation: $anim-duration sidebar-in $anim-timing-function;
    animation-fill-mode: forwards;
  }

  &.out {
    animation: $anim-duration sidebar-out $anim-timing-function;
    animation-fill-mode: forwards;
  }
}

.backdrop {
  height: 100dvh;
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;

  &.in {
    animation: $anim-duration backdrop-in $anim-timing-function;
    animation-fill-mode: forwards;
  }

  &.out {
    animation: $anim-duration backdrop-out $anim-timing-function;
    animation-fill-mode: forwards;
  }
}

@keyframes backdrop-in {
  from {
    opacity: 0%;
    width: 100dvw;
    left: 0;
  }
  to {
    opacity: 30%;
    width: calc(100dvw - $width);
    left: $width;
  }
}

@keyframes backdrop-out {
  from {
    opacity: 30%;
    width: calc(100dvw - $width);
    left: $width;
  }
  to {
    opacity: 0%;
    width: 100dvw;
    left: 0;
  }
}

@keyframes sidebar-in {
  from {
    left: -$width;
  }
  to {
    left: 0;
  }
}

@keyframes sidebar-out {
  from {
    left: 0;
  }
  to {
    left: -$width;
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: theme.spacing(2);
}
