.spinner {
  border-radius: 50%;
  border: 0.14rem solid transparent;
  border-color: var(--static-5) var(--static-5) var(--static-5) var(--accent);
  animation: 0.7s spin linear infinite;
}

.sm {
  width: var(--text-small);
  height: var(--text-small);
}

.md {
  width: var(--p);
  height: var(--p);
}

.lg {
  width: calc(var(--p) * 1.5);
  height: calc(var(--p) * 1.5);
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
