@use "theme.utils" as theme;

.chip {
  padding: theme.spacing(0.2) theme.spacing(0.4);
  border-radius: var(--radius);
  width: fit-content;
}

@mixin chip($color) {
  background-color: var(--#{$color});
  color: var(--on-#{$color});
}

@each $color in theme.$colors {
  .#{$color} {
    @include chip("#{$color}");
  }
}
