@use "theme.utils" as theme;

.avatar {
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--on-primary);
  width: fit-content;
  height: fit-content;
}

.size-sm {
  padding: theme.spacing(1.2);
}

.size-md {
  padding: theme.spacing(1.6);
}

.size-lg {
  padding: theme.spacing(2);
}

.size-xl {
  padding: theme.spacing(2.4);
}
