@use "theme.utils" as theme;

.footer {
  > * {
    line-height: 1.6;
  }
  margin-top: theme.spacing(2);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: theme.spacing(1);
}
