@use "theme.utils" as theme;

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: theme.spacing(2);
  background-color: var(--background-level1);
  padding: theme.spacing(4) theme.spacing(2);
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.title {
  grid-column: 1 / -1;
}
