@use "theme.utils" as theme;

.main {
  align-content: flex-end;
  width: 100dvw;
}

.add-condo-btn {
  margin-top: theme.spacing(2);
  width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
}
