@use "theme.utils" as theme;

.font-size-sm {
  font-size: var(--text-small);
}

.font-size-md {
  font-size: var(--p);
}

.font-size-lg {
  font-size: calc(var(--p) * 1.2);
}

.link {
  text-decoration: none;
  border: var(--border) solid transparent;
  border-radius: var(--radius);

  background-color: transparent;
  color: var(--on-accent-light);
  stroke: var(--on-accent-light);

  &:hover {
    background-color: var(--accent-light-hover-bg);
    border-color: var(--accent-light-hover-border);
  }

  &:active {
    background-color: var(--accent-light-active-bg);
    border-color: var(--accent-light-active-border);
    color: var(--accent-light-on-active-bg);
    stroke: var(--accent-light-on-active-bg);
  }

  &:disabled {
    background-color: transparent;
    border-color: transparent;
    color: var(--accent-light-on-disabled-bg);
    stroke: var(--accent-light-on-disabled-bg);
    cursor: not-allowed;
  }

  &:focus {
    outline: var(--accent-light-active-border) solid var(--border);
  }
}
