@use "theme.utils" as theme;


.button {
  padding: theme.spacing(0.8) theme.spacing(2);
  border-radius: var(--radius-sm);
  color: var(--background);
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.primary {
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-600);
  }

  &:active {
    background-color: var(--primary-500);
  }

  &:disabled {
    background-color: var(--static-5);
    cursor: not-allowed;
  }
}